button {
  cursor: pointer;
}

.btn {
  @include transition();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
  flex-grow: 0;
  gap: 4px;
  @media screen and (max-width: $media-s) {
    font-size: 16px;
  }
  &__icon {
    display: block;
    width: 24px;
    height: 24px;
  }

  &__text {
    display: block;
    font-size: 16px;
    line-height: 24px;
  }

  &--primary {
    color: $color-btn-text-primary;
    background: $color-btn-primary-bg-normal;
    border-radius: 32px;
    padding: 12px 20px;

    &:hover,
    &:focus {
      outline: none;
      background: $color-btn-primary-bg-hover;
      color: $color-btn-text-primary;
    }
    в &:active {
      background: $color-btn-primary-bg-active;
    }
  }

  &--secondary {
    color: $color-typography-primary;
    border-radius: 8px;
    @include shadow;
    padding: 8px 16px;

    .btn__icon {
      // color: $color-input-icon-normal;
    }
    @media screen and (max-width: $media-m) {
      padding: 7px 16px;
    }

    &:hover {
      @include shadowHover;

      .btn__icon {
        // color: $color-input-icon-active;
      }
    }
  }

  &--link {
    color: $color-link-base-text-normal;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      color: $color-link-base-text-hover;
    }

    &.btn--icon {
      display: inline-flex;
      align-items: center;

      .icon {
        margin-left: 40px;
        position: relative;
        @include transition();
        right: 0;
      }

      &:hover {
        .icon {
          right: 10px;
        }
      }
    }
  }
}
