//типографика
b,
strong {
  font-weight: $font-weight--700;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $color-typography-primary;
  transition: color 0.2s ease-in-out 0s;
  &:hover,
  &:focus {
    color: $color-link-base-text-hover;
  }
  &:active {
    color: $color-link-base-text-active;
  }
}

//списки
ol,
ul,
dl {
  list-style: none;
  margin: 0;
  padding: 0;

  dd,
  dt,
  li {
    margin-bottom: 0;
    padding: 0;
  }
}

//заголовки
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  font-weight: $font-weight--700;

  font-family: $font-family;
  margin: 0;
}
h1 {
  font-size: map_get($h1, font-size);
  line-height: map_get($h1, line-height);
  letter-spacing: map_get($h1, letter-spacing);
}
h2 {
  font-size: map_get($h2, font-size);
  line-height: map_get($h2, line-height);
  letter-spacing: map_get($h2, letter-spacing);
}
h3 {
  font-size: map_get($h3, font-size);
  line-height: map_get($h3, line-height);
  letter-spacing: map_get($h3, letter-spacing);
}
h4 {
  font-size: map_get($h4, font-size);
  line-height: map_get($h4, line-height);
  letter-spacing: map_get($h4, letter-spacing);
}
h5 {
  font-size: map_get($h5, font-size);
  line-height: map_get($h5, line-height);
  letter-spacing: map_get($h5, letter-spacing);
}
h6 {
  font-size: map_get($h6, font-size);
  line-height: map_get($h6, line-height);
  letter-spacing: map_get($h6, letter-spacing);
}
//цитаты
blockquote {
  border-left: rem(2px) solid $color-theme-border;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 2rem;
  font-style: normal;
}

q,
cite {
  font-style: italic;
}

//исходный текст
code {
  display: block;
  width: 100%;
  margin: 0 0 2rem;
  padding: 1rem 2rem;
  font-family: $font-family;
  white-space: break-word;
}

pre {
  display: block;
  width: 100%;
  overflow: auto;
  border-left: rem(2px) solid $color-theme-border;
  font-family: $font-family;
  & > code {
    white-space: pre;
  }
}
//подчеркивание
hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: rem(1px) solid $color-theme-border;
}
//изображения
// picture {
//     display: block;

//     img {
//         display: block;
//         max-width: 100%;
//         margin: auto;
//     }
// }

//таблицы
table {
  width: 100%;
  margin-bottom: 2rem;
  vertical-align: middle;
  border-collapse: collapse;

  th,
  td {
    padding: 1rem;
    border-bottom: 1px solid $color-theme-border;
  }

  tbody {
    vertical-align: inherit;
  }

  thead th {
    text-align: left;
    vertical-align: inherit;
    border-bottom-color: $color-theme-border;
  }
}
