$white-color: #ffffff;
$black-color: #000000;
// Цвета темы
$color-theme-blue: rgba(85, 160, 248, 1);
$color-theme-green: rgba(93, 218, 173, 1);
$color-theme-green-dark: rgba(0, 191, 134, 1);
$color-theme-purple: rgba(178, 131, 255, 1);
$color-theme-red: rgba(255, 131, 146, 1);
$color-theme-red-dark: rgba(252, 119, 114, 1);
$color-theme-yellow: rgba(251, 203, 106, 1);

$color-theme-border-light: rgba(64, 64, 64, 0.1);
$color-theme-border: rgba(232, 232, 232, 1);
$color-theme-border-dark: rgba(217, 217, 217, 1);
$color-theme-disable: rgba(232, 235, 238, 1);
$color-theme-accent: rgba(234, 100, 118, 1);

// Цвета текста
$color-typography-primary: rgba(64, 64, 64, 1);
$color-typography-secondary: rgba(64, 64, 64, 0.7);
$color-typography-invert: rgba(255, 255, 255, 1);
$color-typography-accent: rgba(85, 160, 248, 1);

// Цвета бэкграундов
$color-bg-primary: rgba(255, 255, 255, 1);
$color-bg-secondary: rgba(255, 255, 255, 1);
$color-bg-invert: rgba(53, 56, 61, 1);
$color-bg-overlay: rgba(64, 64, 64, 0.6);

// Функциональные цвета
$color-func-error: rgba(231, 101, 101, 1);
$color-func-complete: rgba(86, 189, 84, 1);

$color-icon-normal: rgba(64, 64, 64, 0.32);
$color-icon-hover: rgba(64, 64, 64, 0.64);
$color-icon-active: rgba(64, 64, 64, 1);
$color-icon-white: rgba(255, 255, 255, 1);
$color-icon-disable: rgba(232, 235, 238, 1);
$color-icon-accent: rgba(85, 160, 248, 1);
$color-icon-dark: rgba(64, 64, 64, 1);

// Цвета формы
$color-input-placeholder-normal: rgba(64, 64, 64, 0.32);
$color-input-placeholder-hover: rgba(64, 64, 64, 0.48);
$color-input-placeholder-focus: rgba(64, 64, 64, 0.48);
$color-input-placeholder-active: rgba(64, 64, 64, 0.48);
$color-input-placeholder-filled: rgba(64, 64, 64, 1);
$color-input-placeholder-disable: rgba(64, 64, 64, 0.2);
$color-input-placeholder-required: rgba(234, 100, 118, 1);
$color-input-border-normal: rgba(64, 64, 64, 0.2);
$color-input-border-focus: rgba(64, 64, 64, 0.4);
$color-input-border-active: rgba(64, 64, 64, 0.7);
$color-input-border-filled: rgba(223, 224, 225, 1);
$color-input-bg-normal: rgba(255, 255, 255, 1);
$color-input-bg-hover: rgba(64, 64, 64, 0.02);
$color-input-bg-disable: rgba(64, 64, 64, 0.04);
$color-input-bg-error: rgba(64, 64, 64, 0.05);

// Цвета кнопок
$color-btn-text-primary: rgba(255, 255, 255, 1);
$color-btn-text-disabled: rgba(212, 213, 216, 1);
$color-btn-text-secondary: rgba(255, 255, 255, 1);
$color-btn-text-dark: rgba(64, 64, 64, 1);
$color-btn-primary-bg-normal: rgba(85, 160, 248, 1);
$color-btn-primary-bg-hover: rgba(85, 160, 248, 0.8);
$color-btn-primary-bg-disable: rgba(249, 249, 249, 1);
$color-btn-primary-bg-active: rgba(66, 153, 255, 1);
$color-btn-secondary-bg-normal: rgba(64, 64, 64, 0.06);
$color-btn-secondary-bg-hover: rgba(64, 64, 64, 0.12);
$color-btn-secondary-bg-active: rgba(64, 64, 64, 0.16);

// Цвета ссылок
$color-link-base-text-normal: rgba(85, 160, 248, 1);
$color-link-base-text-hover: rgba(85, 160, 248, 0.6);
$color-link-base-text-white: rgba(255, 255, 255, 1);
$color-link-base-text-active: rgba(66, 153, 255, 1);

$color-link-base-icon-normal: rgba(57, 66, 72, 1);

// Базовая типографика
$font-size--root: 8px;
$font-size: 16px; // rem(16px)
$font-size--small: 80%;

$font-style: normal;

$font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-weight--100: 100;
$font-weight--200: 200;
$font-weight--300: 300;
$font-weight--400: 400;
$font-weight--500: 500;
$font-weight--600: 600;
$font-weight--700: 700;
$font-weight--800: 800;
$font-weight--900: 900;

$font-weight: $font-weight--400;
$line-height: normal;
$letter-spacing: normal;

//Медиа-запросы
$media-xl: 1340px;
$media-l: 1024px;
$media-m: 768px;
$media-s: 520px;

$mobile-min: 401px;

// Ширины
$h1: (
  "font-size": rem(48),
  "line-height": 1.2,
  "letter-spacing": 0,
);
$h2: (
  "font-size": rem(40),
  "line-height": 1.375,
  "letter-spacing": 0.01em,
);

$h3: (
  "font-size": rem(32),
  "line-height": 1.2,
  "letter-spacing": 0,
);
$h4: (
  "font-size": rem(28),
  "line-height": 1.2,
  "letter-spacing": 0,
);
$h5: (
  "font-size": rem(20),
  "line-height": 1.5,
  "letter-spacing": 0,
);
$h6: (
  "font-size": rem(18),
  "line-height": 1.5,
  "letter-spacing": 0,
);

//грид
$content-size: 1312px;
$content-size--min: 280px;
$padding-size: 16px;
$col-count: 12;
$wrapper: (
  "content-size": $content-size,
  "content-size--min": $content-size--min,
  "padding-size": $padding-size,
  "col-count": $col-count,
);
$grid-color: rgba(255, 0, 0, 0.1);
